{% extends 'base.html' %}
{% block content %}
<div id="fh5co-intro">
	<div class="container">
		<h4>{{ post.title }}</h4>
			<div class="row">
				<div class="col-md-8 fh5co-intro-sub clearfix">
					<!-- <a href="{{post.article.origin_url}}" class="btn btn-outline btn-md btn-block">
					 	{{post.article.title}}
					 </a> -->

<a href='{{post.article.origin_url}}'>
<div class='col-md-4 inner-article'>
<h6 class='modify-title'>
{{ post.article.title }}
</h6>
<div class="inner-content">
{{post.article.excerpt}}
</div>
</div>
</a>





					<br>
					<div class="summernote-text">
					{{ post.content|safe }}
					</div>
				</div>
			</div>

			
			<div class="row">
				<div class="col-md-8">
					<p>
					{% for tag in post.tag_set.all %}
						<a href="{% url 'tag-detail' tag.name %}"><span>#{{tag.name}} </span></a>
					{% endfor %}
					</p>
					
				</div>
			</div>
			

			<hr />
			{% if request.user == post.user %}
			<ul class="col-md-8 post-option">
				<a href="{% url 'post-update' post.pk %}"><li>수정</li></a>
				<a href=""><li>삭제</li></a>
			</ul>
			{% endif %}

			<div class="fh5co-spacer fh5co-spacer-xs"></div>
			<div class="row">
			<div class="form-group col-md-8">
				<form action="{% url 'comment' post.pk %}" method="post">
					{% csrf_token %}
					<label for="message" class="sr-only">message</label>	
					<textarea placeholder="댓글 남기기" id="message" class="form-control input-lg" rows="3" name="content"></textarea>
					<input type="submit" class="col-md-2 btn btn-primary btn-md" value="Send">
				</form>
				<div class="fh5co-spacer fh5co-spacer-xs"></div>
			</div></div>

			<div class="row">
				<div class="col-md-8">
					<h2 class="fh5co-uppercase-heading-sm">댓글({{post.comment_set.count}})</h2>
					{% for comment in post.comment_set.all %}
					<div class="row">
					<div class="col-md-12">
						<h5 class="h5">{{comment.user.nickname}}</h5>
						<pre>{{ comment.content }}</pre>
					</div>
					</div>
					{% endfor %}
				</div>
			</div>
	</div>
</div>

{% endblock %}