<!-- Header -->
<header id="fh5co-header" role="banner" >
	<div class="container">
		<!-- Logo -->
		<div id="fh5co-logo">
			<a href="{% url 'home' %}">
				Roughlog
			</a>
		</div>
		<!-- Logo -->
		
		<!-- Mobile Toggle Menu Button -->
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		
		<!-- Main Nav -->
		<div id="fh5co-main-nav">
			<nav id="fh5co-nav" role="navigation" class="col-md-12">
				<ul>
					{% if request.user.is_authenticated %}
					<li>
						<a href="{% url 'home' %}">Home</a>
					</li>
					<li>
						<a href="{% url 'article_list' %}">포켓리스트</a>
					</li>
					<!-- <li>
						<a href="{% url 'user-search' %}">검색</a>
					</li> -->
<!-- 					<li>
						<a href="{% url 'my-page' request.user.nickname %}">{{request.user.nickname}}</a>
					</li> -->
					<li>
						<a href="{% url 'signout' %}">로그아웃</a>
					</li>
				{% endif %}
				</ul>
			</nav>
		</div>
		<!-- Main Nav -->

	</div>
</header>