
{% extends 'base.html' %}
{% block content %}
<div class="col-md-12">
	<h2 class="fh5co-uppercase-heading-sm text-center">추가 정보 입력</h2>
	<div class="fh5co-spacer fh5co-spacer-xs"></div>
</div>
<div class="col-md-12 col-md-offset-2">
	<form  method="post" action="/complete/pocket/">
		{% csrf_token %}
		<div class="col-md-8">
			<div class="form-group">
				<label for="description" class="sr-only">아이디</label>
				<input type="text" name="nickname" placeholder="아이디" required>
				<label for="description" class="sr-only">소개</label>
					<textarea placeholder="소개문구" id="description" class="form-control input-lg" rows="3" name="description"></textarea>
				<input type="submit" class="btn btn-primary btn-md" value="확인">
			</div>
		</div>
	</form>
</div>
{% endblock %}