{% extends 'base.html' %}

{% block title %}Roughlog{% endblock %}
{% block content %}
<div class="fh5co-call-to-action text-center">
	<div class="container">
		<div class="fh5co-call-to-action-wrap">
			<div class="fh5co-call-to-action-inner text-center">
				<p class="fh5co-call-to-action-text" style="font-size: 20px;">빠르게 읽고 쓰고 기억하기 위해</p>
				<h3 class="fh5co-call-to-action-text">Roughlog</h3>
				<a href="{% url 'social:begin' 'pocket' %}?next={{ request.path }}" class="btn btn-outline btn-sm">Join</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

